<?xml version="1.0" encoding="UTF-8"?>
<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Fraud Detection In Hospital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PatientLogin</display-name>
    <servlet-name>one</servlet-name>
    <servlet-class>com.privacyprotection.PatientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>one</servlet-name>
    <url-pattern>/PatientLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Claim1</display-name>
    <servlet-name>Claim1</servlet-name>
    <servlet-class>com.privacyprotection.Claim1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Claim1</servlet-name>
    <url-pattern>/Claim1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Claim2</display-name>
    <servlet-name>Claim2</servlet-name>
    <servlet-class>com.privacyprotection.Claim2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Claim2</servlet-name>
    <url-pattern>/Claim2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Claim3</display-name>
    <servlet-name>Claim3</servlet-name>
    <servlet-class>com.privacyprotection.Claim3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Claim3</servlet-name>
    <url-pattern>/Claim3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchHospital</display-name>
    <servlet-name>SearchHospital</servlet-name>
    <servlet-class>com.privacyprotection.SearchHospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHospital</servlet-name>
    <url-pattern>/SearchHospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.privacyprotection.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHospital</display-name>
    <servlet-name>AddHospital</servlet-name>
    <servlet-class>com.privacyprotection.AddHospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHospital</servlet-name>
    <url-pattern>/AddHospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPatient</display-name>
    <servlet-name>EditPatient</servlet-name>
    <servlet-class>com.privacyprotection.EditPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPatient</servlet-name>
    <url-pattern>/EditPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLogin</display-name>
    <servlet-name>DoctorLogin</servlet-name>
    <servlet-class>com.privacyprotection.DoctorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogin</servlet-name>
    <url-pattern>/DoctorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Claim4</display-name>
    <servlet-name>Claim4</servlet-name>
    <servlet-class>com.privacyprotection.Claim4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Claim4</servlet-name>
    <url-pattern>/Claim4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateId</display-name>
    <servlet-name>GenerateId</servlet-name>
    <servlet-class>com.privacyprotection.GenerateId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateId</servlet-name>
    <url-pattern>/GenerateId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientRegister</display-name>
    <servlet-name>PatientRegister</servlet-name>
    <servlet-class>com.privacyprotection.PatientRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegister</servlet-name>
    <url-pattern>/PatientRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorRegister</display-name>
    <servlet-name>DoctorRegister</servlet-name>
    <servlet-class>com.privacyprotection.DoctorRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRegister</servlet-name>
    <url-pattern>/DoctorRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalBill</display-name>
    <servlet-name>HospitalBill</servlet-name>
    <servlet-class>com.Hospital.HospitalBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalBill</servlet-name>
    <url-pattern>/HospitalBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageSend</display-name>
    <servlet-name>MessageSend</servlet-name>
    <servlet-class>com.Hospital.MessageSend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageSend</servlet-name>
    <url-pattern>/MessageSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlRedirect</display-name>
    <servlet-name>UrlRedirect</servlet-name>
    <servlet-class>com.Hospital.UrlRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlRedirect</servlet-name>
    <url-pattern>/UrlRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPatient</display-name>
    <servlet-name>RegisterPatient</servlet-name>
    <servlet-class>com.Hospital.RegisterPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPatient</servlet-name>
    <url-pattern>/RegisterPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Patientcheckup</display-name>
    <servlet-name>Patientcheckup</servlet-name>
    <servlet-class>com.privacyprotection.Patientcheckup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patientcheckup</servlet-name>
    <url-pattern>/Patientcheckup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>conformationSend</display-name>
    <servlet-name>conformationSend</servlet-name>
    <servlet-class>com.Hospital.conformationSend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>conformationSend</servlet-name>
    <url-pattern>/conformationSend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoliceSection</display-name>
    <servlet-name>PoliceSection</servlet-name>
    <servlet-class>com.privacyprotection.PoliceSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceSection</servlet-name>
    <url-pattern>/PoliceSection</url-pattern>
  </servlet-mapping>
</web-app>